.bordure {
    border: 1px solid black;
}

img {
    width: 90%;
}

.center {
    text-align: center;
}

.blocAffichage {
    width: 300px;
    margin: 20px;
    padding: 10px;
}

main {
    width: 90%;
    margin: 0 auto;
}

.mb-3 {
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}